
.quiz {
  
  font-family: "Trebuchet MS";
  color: black;
  font-weight: bold;
  text-align: center;
  background-image: url(https://image.freepik.com/free-photo/table-top-with-background_1404-28.jpg);
  background-size: cover;
  
}