
.quiz {
  
  font-family: "Raleway", sans-serif;*/
  color: white;
  background-image: url(https://image.freepik.com/free-vector/sketchy-food-background_23-2147507463.jpg);
  background-size: cover;
  
}