<!DOCTYPE html>
<html>
<head>
  <title>About us</title>
   <link rel="stylesheet" type="text/css" href="/about_us_style.css">
</head>
<body>

  <img id="red" src="/image2.jpg" width= "990" height= "200">

  <div class="topnav">
    <a href="/homepage">Home</a>
      
    <a href="/about_us">About us</a>
    <a href="#">Self-Defense Quiz</a>
    <!--<a href="#">Tips All Women Should Know</a>-->
    <a href="/selfDeftips">Quick Tips</a>

  </div>
   <br>
  <div class="column">
    <br>
    <h1 id="title">About us</h1>
    <br>
    <p class="Aboutpage">Hello! We are blank. We are a team of girls part of the Kode With Klossy Chicago Branch. During this program we learned to code Ruby, HTML, and CSS. Using our newfound coding skills, we created this website as a way to help our sisters across the country protect themselves.</p>
  </div>
</body>
</html>