<!DOCTYPE html>
<html>
<head>
  <title>About us</title>
   <link rel="stylesheet" type="text/css" href="/about_us_style.css">
</head>
<body>
  <div class="topnav">
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
  </div>
  <br>
  <br>
  <h1 id="title">About us</h1>
  <br>
  <p class="Aboutpage">Hello! We are blank. We are a team of girls part of the Kode With Klossy Chicago Branch. During this program we learned to code Ruby, HTML, and CSS. Using our newfound coding skills, we created this website as a way to help our sisters across the country protect themselves.</p>
</body>
</html>