<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>


<p><big>Hiiiiii! <br> Welcome to Voyage our names are Margaret Meyers, Loreen Tumeh, and Dami Adenekan.<br> We made this website because we went to this amazing two week camp called Kode With Klossy.<br> Voyage is a quizzical website that has you take a quiz to find some amenities in the location you are visiting.<br> This website is limited at the time but don't worry, we'll keep adding to it!</big></p>

<a data-flickr-embed="true"  href="https://www.flickr.com/photos/160244174@N08/43376626674/in/dateposted-public/" title="IMG_0388"><img class="images" src="https://farm2.staticflickr.com/1779/43376626674_acd0ed0da8_k.jpg" width="2048" height="1536" alt="IMG_0388"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
