<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>


<p><big>Hiiiiii! <br> Welcome to Voyage our names are Margaret Meyers, Loreen Tumeh, and Dami Adenekan.<br> We made this website because we went to this amazing two week camp called Kode With Klossy.<br> Voyage is a quizzical website that has you take a quiz to find some amenities in the location you are visiting.<br> This website is limited at the time but don't worry, we'll keep adding to it!</big></p>