<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" type="text/css" href="/animals.css">
        <title>Your Results Are: Animal Rights!</title>
    </head>
    <body>
      
      <div class="content">
        <h1>If you want to donate, visit Bestfriends</h1>
        <a href= "https://www.bestfriends.org/">Bestfriends</a>
        <img src=https://static1.squarespace.com/static/55e4bc6de4b0aacd98112959/t/55f099eae4b0f4a055c5b7c4/1441831403025/>
         </div>
       <div class="content">
        <h1>If you want to volunteer, you should visit PAWS</h1>
         <a href="https://www.paws.org/">PAWS! </a>
        <img src=https://www.workforgood.org/getasset/6b63879b-9d07-4c59-82b7-cfd5ea2cdb7e/>
        </div>
        
     
           
    </body>
</html>