<!DOCTYPE html> 
<html>
<head> 
  <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald"         rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <style> 
   .head {
     font-family: 'Lobster', cursive;
    }
   .subhead {
     font-family: 'Roboto Condensed', sans-serif;
    }
  </style>
  <title class="head"> How the Signs Affect Us </title>
</head> 
<body>
  <h1 class="head" >How the Signs Affect Us</h1>
  <div class="topnav">
 <a class="active subhead" href="/">Home</a>
 <a href="/solarsystem" class="subhead">Our Solar System</a>
 <a href="/universenews" class="subhead">Universal Update</a>
 <a href="/quiz" class="subhead">Quiz</a>
 <a href="/astrology" class="subhead">Astrology</a>
 <a href="/other" class="subhead">Other</a>
 </div>
  
  
  <h4 class="subhead">The Meaning of Our Signs</h4>
 
  
  <h3 class="para"> You may be familar with "zodiac signs". But, did you know that there are many ways to define a zodiac sign. The one you are most associated with is your "Sun sign". Your sun sign is your "zodiac personality".  There are actually two more "zodiac" signs that identify you. </h3> 
 <h3 class="para"> One of the signs that help identify you is a rising sign. Your rising sign helps identify the outer you. The thing about your rising sign is that it changes depending on the time of day. So you may be a Taurus one hour, and then be an Aries the next. Another sing that helps identify you is called your moon sign.Your moon sign identifies your inner mood/emotions. Your moon sign is a calculation of the full date, place, and time of your birth. Your sun and your moon sign describe the entire emotional mode of operation. </h3> 
  <h3 class="para">
    <br> 
  <img class = "image" src="https://images.unsplash.com/photo-1532968787238-51611422cb5b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=72bd51f72d20a8978e37dfaf63fb4ec6&auto=format&fit=crop&w=2001&q=80">
  <h2 class="heck">
    About Constellations </h2> 
  <h3 class="para"> Constellations are the representation of zodiac signs. There are 88 official constellations. A lot of the constellation meanings orginated because of past human civilization. An example of this is that Orion has been seen as a hero since the fights from Ancient Babylon.</p>
  <h2 class ="subhead2">
      These are the english interpretations of the zodiac signs </h2>
    <h3 class ="para">
    <li>Aries - Ram</li>
    <li>Taurus - Bull</li>
    <li>Gemini - Twins </li>
    <li>Cancer - Crab </li>
    <li>Leo - Lion </li>
    <li>Virgo - Virgin</li>
    <li>Libra - Balance </li>
    <li>Scorpius - Scorpion</li>
    <li>Sagittarius - Archer</li>
    <li>Capricornus - Sea goat</li>
    <li>Aquarius - Water bearer</li>
    <li>Pisces - Fishes</li>
  </h3>
  

  
  
  
</body> 
  
</html> 