<h1>Cool place in Georgia!</h1>
<body>
<img src="https://www.omnihotels.com/-/media/images/hotels/atlcnn/activities/atlcnn-centennial-park.jpg?h=660&la=en&w=1170">
  <p>The Centennial Olympic park is really great!</p>
  </body