<h1>The best place to eat at in Georgia!</h1>
<body>
<img src="http://theoptimistrestaurant.com/wp-content/uploads/2012/07/optmst_color_0001.jpg">
  <p>The Optimist Resturant is really nice!</p>
  </body