<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>

<h1>The best place to eat at in Georgia!</h1>
<body>
<img class="images" src="http://theoptimistrestaurant.com/wp-content/uploads/2012/07/optmst_color_0001.jpg">
  <p>The Optimist Resturant is really nice!</p>
  </body

