<h1> Great way to start your morning in Georgia!</h1>
<body>
<img src="https://media-cdn.tripadvisor.com/media/photo-s/02/ce/6c/5e/the-flying-biscuit-cafe.jpg">
  <p>The Flying Biscuit cafe!</p>
  </body