<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>

<h1> Great way to end you day in Georgia!</h1>
<body>
<img class="images" src="https://static1.squarespace.com/static/546a1bb8e4b0d5f4fb28c1f6/54867bcbe4b03c2484c82ff2/5529c4ade4b0745421da8b9b/1428800711030/floor-02.jpg">
  <p>The Kimball House is amazing!</p>
  </body

