<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>

<h1> Amazing place in Georgia!</h1>
<body>
<img class="images" src="https://www.georgiaaquarium.org/images/librariesprovider6/default-album/guest.jpg?sfvrsn=0">
  <p>The Georgia Aquarium is so cool!</p>
  </body

