<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>

<h1> Fantastic Place!</h1>
<body>
<img class="images" src="https://c5.staticflickr.com/4/3738/13250349164_a89c8eb516.jpg">
  <p>The Barton Spring Pool is cool!</p>
  </body>


