<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>

<h1> Great way to start your morning in Texas!</h1>
<body>
<img class="images" src= "https://lh6.googleusercontent.com/2BKAJU8VipFPQ9oLXe2z36yQKeH736Djdd_sNdsBMUA42hLdsY4TPtOluCYkhx5HJsmSub5aFRRbe8ZVhIy1maou0YwB1_T17ELwnysnxv2Ckkdl5OsX75iAZLDx4g6cHSD9ISp6">
  <p>The Breakfast Klub is yummy!</p>
  </body>

