<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>

<h1> Amazing Place!</h1>
<body>
<img class="images" src="https://resizer.otstatic.com/v2/profiles/medium/39379.jpg">
  <p>Texas De Brazil is soo good!</p>
  </body>

