<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>
<link rel="stylesheet" type="text/css" href="/voyage.css">
<form method="POST" action="/Austin_quiz">
  <h2>What would you like to do in Austin?</h2>
    <input type="radio" name="activity" value="workout">Workout<br>
    <input type="radio" name="activity" value="breakfast">Breakfast <br>
    <input type="radio" name="activity" value="shopping">Go shopping<br>
    <input type="radio" name="activity" value="lunch">Eat lunch<br>
    <input type="radio" name="activity" value="attraction">Local Attraction<br>
    <input type="radio" name="activity" value="entertainment">Entertainment<br>
    <input type="radio" name="activity" value="dinner">Dinner/dessert<br>
    
  <button class="prettyButton" type="submit"> Submit!!!</button>
</form>


<body>
  <img class="images" src= "http://topworkplaces.statesman.com/wp-content/uploads/2017/10/Ideabar-Austin-image_twp_top-employers.jpg">
  </body>