<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>



<h1>You should workout at Handle Bar Cycling!</h1>
<body>
  <img class="images" src = "https://cdn10.bostonmagazine.com/wp-content/uploads/2013/07/handlebarmain2.jpg">
  <p>Jump on the trend, and a bike, and take part in a cycling class at one of Boston's hottest workout spots. </p>
</body>