<form method="POST" action="/Chicago_Quiz">
  <h2>What would you like to do in Chicago?</h2>
    <input type="radio" name="activity" value="Workout">Workout<br>
    <input type="radio" name="activity" value="Breakfast">Breakfast <br>
    <input type="radio" name="activity" value="Shopping">Go shopping<br>
    <input type="radio" name="activity" value="lunch">Eat lunch<br>
    <input type="radio" name="activity" value="Attraction">"Local Attraction"<br>
    <input type="radio" name="activity" value="Dinner">"Dinner/dessert"<br>
    
  <button type="submit"> Submit!!!</button>
</form>
