<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<form method="POST" action="/detroit_quiz">
  <h2>What would you like to do in Detroit?</h2>
    <input type="radio" name="activity" value="workout">Workout<br>
    <input type="radio" name="activity" value="breakfast">Eat Breakfast<br>
    <input type="radio" name="activity" value="shopping">Go Shopping<br>
    <input type="radio" name="activity" value="lunch">Eat Lunch<br>
    <input type="radio" name="activity" value="landmark">Visit a Local Landmark<br>
    <input type="radio" name="activity" value="entertainment">Find Entertainment<br>
    <input type="radio" name="activity" value="dinner">Eat Dinner and Dessert<br>
    
  <button class="prettyButton" type="submit"> Submit!!!</button>
</form>

<body>
  <img class="images" src= "https://www.michigan.org/sites/default/files/styles/15_6_desktop/public/det.18.ss_.MDCVB%202015_141.jpg?itok=Ew0vVXZN&timestamp=1528460590">
  </body>