<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>



<h1>You should eat breakfast at Fourteen East Cafe!</h1>
<body>
  <img class="images" src = "https://igx.4sqi.net/img/general/699x268/575441_zJQ6lGT22qmyspOJiw20OiDFOGxhvwv6cwt6quKV_Tc.jpg">
  <p>Enjoy a unique latte at this fun coffee shop!</p>
</body>
