<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>



<h1>You should visit the Henry Ford Museum!</h1>
<body>
  <img class="images" src = "https://www.amtrak.com/content/dam/projects/dotcom/english/public/images/FeatureBanner/feature-banner-ford-museum.jpg/_jcr_content/renditions/cq5dam.web.843.474.jpeg">
  <p>This museum outlines the production line created by Henry Ford which started the production of cars in America!</p>
</body>