<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>



<h1>You should workout at Live Cycle Delight!</h1>
<body>
  <img src = "http://www.dailydetroit.com/wp-content/uploads/2017/03/IMG_0326.jpg" width = 700 height = 500>
  <p>Join Live Cycle Delight for a spin class while in Detroit!</p>
</body>
