<!DOCTYPE html>
<html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald"         rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <style> 
   .head {
     font-family: 'Lobster', cursive;
    }
   .subhead {
     font-family: 'Roboto Condensed', sans-serif;
    }
  </style>  
      <title>You are Earth!</title>
    </head>
    <body>
        <div class="topnav">
       <a class="active subhead" href="/">Home</a>
       <a href="/solarsystem" class="subhead">Our Solar System</a>
       <a href="/universenews" class="subhead">Universal Update</a>
       <a href="/quiz" class="subhead">Quiz</a>
       <a href="/astrology" class="subhead">Astrology</a>
       <a href="/other" class="subhead">Other</a>
     </div>
        <h1 class = head>You are Earth!</h1>
        <img src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2014/1-earth.jpg">
    </body>
</html>