<!DOCTYPE html>
<html>
    <head>
        <title>Your Results Are: Education!</title>
    </head>
    <body>
      <p>If you want to donate, visit Girls Who Code</p>
           <a href= "https://girlswhocode.com/clubs/?gclid=CjwKCAjwwdTbBRAIEiwAYQf_EwIk9nfDTnR7vJusq0fyrKvDPqHPCa2ZWCB-rCiEcuLkPO5ScD-k2RoCMkwQAvD_BwE">Girls Who Code</a>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/GWC_logo_2016_.png/1200px-GWC_logo_2016_.png">
        <p>If you want to volunteer, you should visit Kahn Academy</p>
        <a href="https://www.khanacademy.org/">Khan Academy</a>
        <img src="https://www.google.com/imgres?imgurl=http%3A%2F%2Fp6cdn4static.sharpschool.com%2FUserFiles%2FServers%2FServer_31236%2FImage%2FWillie%2520Painter%2Fkhan-dev.jpg&imgrefurl=https%3A%2F%2Fsites.google.com%2Fsite%2Fmsdahlesclass%2FHome%2Fkhan-academy&docid=cakqnW9ZtfqAlM&tbnid=WI0O9kzdKcUyYM%3A&vet=10ahUKEwiG2Peal_LcAhVY1IMKHZIJA4YQMwj3ASgBMAE..i&w=576&h=244&bih=826&biw=1440&q=KHAN%20ACADEMY&ved=0ahUKEwiG2Peal_LcAhVY1IMKHZIJA4YQMwj3ASgBMAE&iact=mrc&uact=8">
    </body>
</html>