<!DOCTYPE html>
<html>
<head>
  <title>Why Self-Defense?</title>
   <link rel="stylesheet" type="text/css" href="/homepage.css">
</head>
<body>

  <img id="red" src="/image2.jpg" width= "990" height= "200">
  <div class="topnav">
    <a href="#">Home</a>
    <a href="#">About us</a>
    <a href="#">Self-Defense Quiz</a>
    <a href="#">Quick Tips</a>
  </div>
  <br>
  <div class="column">
    <br>
    <h1 id="header">Why Self-defense?</h1>
    <br>
<!--Getting catcalled is no fun. It is disgusting and can lower a woman's self esteem.So how would it feel when a woman is harassed not only verbally, but physically? Sexual harassment and assault is incredibly scary and can leave scars for a lifetime. Women everywhere are harassed daily. An online survey by Stopstreetharrassnent.org states 81% of women have experienced some sort of harassment in their lives.-->
    <p class="Home">Global organizations estimate that over 35% of women are violently assaulted each year. These experiences can leae scars that can last a lifetime. Imagine how many women could be saved if they were given the skills to fight back against their attackers.</p>
    <p class="Home2">THIS NEEDS TO STOP.</p>
    <p class="Home3">As women in Chicago, we understand how dangerous it can be to even walk home from school. We know that we have to be aware of everything that's going on around us because, even with a pepper spray in our hands, it's not guaranteed we will be safe. Our goal is to keep as many people as safe as possible. We want to fight against this issue and make sure women are well equipped with skills to fight.</p>
    <p class="Home4">It's time to take a stand. It's time to feel safer doing the things we love. Take at least one lesson for self-defense, so you can stay safe.</p>
  </div>
  <div class="sidenav"></div>
  <div class="sidenav2"></div>
</body>
</html>
