<!DOCTYPE html>
<html>
<head>
  <title>Self Defense</title>
   <link rel="stylesheet" type="text/css" href="/homepage.css">
</head>
<body>
<<<<<<< HEAD
  <h2 id= "red"></h2>
<img src="http://www.collegeathleticsmealplan.com/wp-content/uploads/2014/03/Red-Background-Wallpaper-Texture.jpg" alt="Trulli" width="5000" height="125">
=======
  <img id="red" src="/image2.jpg" width= "990" height= "200">
>>>>>>> d50246d975eeb0238120671de52d3a4e3136adc4
  <div class="topnav">
    <a href="#">Home</a>
    <a href="#">About us</a>
    <a href="#">Self-Defense Quiz</a>
<<<<<<< HEAD
    <a href="#">Tips All Women Should Know</a>
=======
    <a href="#">Quick Tips</a>
>>>>>>> d50246d975eeb0238120671de52d3a4e3136adc4
  </div>
  <br>
  <div class="info">
  <br>
  <h1 id="header">Self Defense</h1>
  <br>
<<<<<<< HEAD
  <p class="Home">We all know getting catcalled is no fun. It's actually disgusting, so how would it feel when a woman is harassed physically? It's incredibly scary and can scar people. Women everywhere are harassed daily. Millions of females are hurt or go missing each year. An online survey by Stopstreetharrassnent.org states 81 percent of women have experienced some sort of harassment in their lives. THIS NEEDS TO STOP. As females that live in Chicago ourselves, we know how scary it is to even walk home from school. We know that we have to be aware of everything that's going on around us because, even with a pepper spray in our hands, it's not guaranteed we will be safe. Our goal is to keep as many people as safe as possible. We want to fight against this issue and make sure women are well equipped with skills to fight their perpetrators. It's time to take a stand. It's time to feel safer doing the things we love. Take at least one lesson for self-defense, so YOU WON'T BE NEXT.</p>
=======
  <p class="Home">Getting catcalled is no fun. It is disgusting and can lower a woman's self esteem.So how would it feel when a woman is harassed not only verbally, but physically? Sexual harrassment and assault is incredibly scary and can leave scars for a lifetime. Women everywhere are harassed daily. An online survey by Stopstreetharrassnent.org states 81% of women have experienced some sort of harassment in their lives.</p>
  <p class="Home2">THIS NEEDS TO STOP.</p>
  <p class="Home3">As females that live in Chicago ourselves, we know how scary it is to even walk home from school. We know that we have to be aware of everything that's going on around us because, even with a pepper spray in our hands, it's not guaranteed we will be safe. Our goal is to keep as many people as safe as possible. We want to fight against this issue and make sure women are well equipped with skills to fight.</p>
  <p class="Home4">It's time to take a stand. It's time to feel safer doing the things we love. Take at least one lesson for self-defense, so YOU WON'T BE NEXT.</p>
>>>>>>> d50246d975eeb0238120671de52d3a4e3136adc4
  </div>
</body>
</html>
