<!DOCTYPE html>
<html>
    <head>
        <title>Your Results Are: Hunger Relief!</title>
    </head>
    <body>
      <p>If you want to donate, you should visit Feed My Starving Children</p>
           <a href= "https://www.fmsc.org/">Feed My Starving Children</a>
        <img src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjc9NHFmPLcAhUHxYMKHTXPD7kQjRx6BAgBEAU&url=http%3A%2F%2Fwww.wspynews.com%2Fnews%2Fcommunity_news%2Ffeed-my-starving-children-mobile-pack-event-in-need-of%2Farticle_86ff62a3-379b-5110-9109-91ad677a746d.html&psig=AOvVaw20DA7CtMIYBWCsFHJiwXqc&ust=1534530184128464">
        <p>If you want to volunteer, you should visit All Hands and Hearts Together</p>
        <a href="https://www.allhandsandhearts.org/?gclid=CjwKCAjwwdTbBRAIEiwAYQf_E6_0C4wBwTxp9OpIUHsBkGh1O9ayUk-YGJDUfDhGDNMWxxEr4AnIJBoC6IQQAvD_BwE">All Hands and Hearts Together</a>
        <img src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwi52IDXmPLcAhUE8YMKHUYwBdUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.guidestar.org%2Fprofile%2F20-3414952&psig=AOvVaw0AAkDDMRlr_KYqJ7w7D0dZ&ust=1534530217981614">
    </body>
</html>