<!DOCTYPE html>
<html>
<head>
  <title>Why Self-Defense?</title>
   <link rel="stylesheet" type="text/css" href="/homepage.css">
</head>
<body>
  <!--<form method="POST" action="/homepage">-->


  <img id="red" src="/image2.jpg" width= "990" height= "200">
  <div class="topnav">
    <a href="homepage">Home</a>
    <a href="about_us">About us</a>
    <a href="quiz">Self-Defense Quiz</a>
    <a href="self_def_tips">Quick Tips</a>
  </div>
  <br>
  <div class="column">
  <br>
  <h1 id="header">Why Self-defense?</h1>
  <br>

  <p class="Home">Getting catcalled is no fun. It is disgusting and can lower a woman's self esteem.So how would it feel when a woman is harassed not only verbally, but physically? Sexual harrassment and assault is incredibly scary and can leave scars for a lifetime. Women everywhere are harassed daily. An online survey by Stopstreetharrassnent.org states 81% of women have experienced some sort of harassment in their lives.</p>
  <p class="Home2">THIS NEEDS TO STOP.</p>
  <p class="Home3">As females that live in Chicago ourselves, we know how scary it is to even walk home from school. We know that we have to be aware of everything that's going on around us because, even with a pepper spray in our hands, it's not guaranteed we will be safe. Our goal is to keep as many people as safe as possible. We want to fight against this issue and make sure women are well equipped with skills to fight.</p>
  <p class="Home4">It's time to take a stand. It's time to feel safer doing the things we love. Take at least one lesson for self-defense, so you won't be next.</p>
  </div>
  <div class="sidenav"></div>
  <div class="sidenav2"></div>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/4OrP0VdiGcU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</body>
</html>
