<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body bgcolor="#F8FBFE">
</body>


<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
<br>
<br>
<br>
<p><font size="9" color="black">Welcome to Voyage. This is a website for travelers and/or tourists. This website consists of a quiz on the Navbar designed to make touring different locations faster and easier.</font></p>
<br>
<br>
<br>

<img src="https://media.istockphoto.com/photos/bon-voyage-summer-wooden-beach-arrow-sign-picture-id584767382?k=6&m=584767382&s=612x612&w=0&h=aJAoMwPaKgMlwhduzbQj7V1saZeuh-3fmY1TdCUJzNs=" alt="Voyage" width="100%" height="300px">



</body>
</html>
