<!DOCTYPE html> 
<html>
<head> 
  <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald"         rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <style> 
   .head {
     font-family: 'Lobster', cursive;
    }
   .subhead {
     font-family: 'Roboto Condensed', sans-serif;
    }
  </style>
  <title class="head"> Astro App </title>
</head> 
<body>
  <h1 class="head" >Astro App</h1>
  
  <div class="topnav">
  <a class="active subhead" href="/">Home</a>
  <a href="/solarsystem" class="subhead">Our Solar System</a>
  <a href="/universenews" class="subhead">Universal Update</a>
    <a href="/quiz" class="subhead">Quiz</a>
    <a href="/astrology" class="subhead">Astrology</a>
  <a href="/other" class="subhead">Other</a>
</div>
  
  <h4 class="subhead">Space For All the Ages</h4>
  
  <h3 class="subhead2"> Who are We? </h3> 
  <p class="para">As coding students, we decided to take our interests and share them with the world.  We all enjoy learning about the stars, planets, and the possibility something else could be out there.  Mimi, Lauren, Kate, and Maya are the girls who created this website to share our knowledge with others.</p> 
  
  <h3 class="subhead2"> Our Goal </h3> 
  <p class="para">Our goal is to educate people about astronomy as well as a bit more background in astrology. A lot of people are skeptical about these things, but when you read a bit more into it you see that these things can actually describe you. We want people to be aware of their identity and how to understand things about our universe. We don’t want you “spacing out” anymore.</p> 
 
  <img class="image" src="https://cdn.shopify.com/s/files/1/2410/2793/products/solar_system2.jpg?v=1516691620">
  
  <br> </br>
  
</body> 
  
</html> 