<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Homepage</title>
</head>

<body>

<div id="inhalt">
  <div id="header">
    <a id="logo" href="/">ONE HUMANITY</a>
   
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href='/quiz'>Take Quiz</a></li>
      
    </ul>
  </div>
  
   <section class="white">
     <img class="circle-image" src = "https://alisoun.com/wp-content/uploads/World-hands1.jpg"/>
    <h2>ABOUT</h2>
    <p>At One Humanity, we believe in the importance of empowering the individual to make their own change in the world. Often times, many people find themselves inspired to contribute to humanitarian causes but they may not know how to or which to choose from. Our goal is to take your passion for helping others and focus that energy into a specific cause that needs more attention. Simply take our short quiz to determine what charitable organization you should donate to or volunteer for. We also have a gallery of different organizations if you're looking for even more information. Head to the quiz portion of the site & find out how you will make your impact now! </p>
    
  </section>
  <section class="gray">
    <h1>Click here to find out which non-profit you should donate and/or volunteer today!</h1>
   <a class="btn" a href = "/quiz"> Take Quiz</a>
    </a></section>
  
 
   <section class="red">
   <center><h2>MEET THE CREATORS</h2></center>

      <div class = "columns">
 
<div class="row">
  <div class="column">Annie
    <p>My name is Annie Gregg and I'm a senior at Victor J. Andrew High School. Some of my hobbies include student government, volunteer work, concerts, Harry Styles,and now,coding. What I love about One Humanity is that it encourages the important ideal that every individual can make a difference.</p></div>
   <div class="column">Litzy
     <p>Hello my name is Lizy Bucio and I just graduated from Lincoln Park high school. I will be attending University of Illinois at Urbana Champaign. Some of my hobbies consist of ruuning, playing my cello, and reading. I enjoyed making this website, not only did I learn so much about coding but I also found many ways to help my community.</p></div>
   <div class="column"><img class="us-without-monica" src="https://files.slack.com/files-pri/TB200QLDV-FCBS7C2TG/img_8992.jpg" class="girls"></div>
  <div class="column">MJ<p> Hi! My name is Maryjane Spangler and I am a sophmore at Roichwoods High School in Peoria, Illinois. I am 15 years old and my hobbies include Golf, Soccer, Photography, and watching youtube. I'm so proud of our website and the great things it will do in the future.  </div>
  <div class="column">Monica<p>I am a senior at Stagg Highschool. My favorite color is aquamarine and fruit is pineapple. My hobbies consist of making memes, reading, running, and of course, coding. It's a rare sight to see me not glued onto my computer or any mobile device, believe me.</p></div>
</div>

  </div>
  
  </section>

  <div id="footer">
    <p>© 2018 Kode With Klossy Scholars | <a href="#">Chicago Koding Queens</a></p>
  </div>
</div>

</body>
</html>