<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Homepage</title>
</head>

<body>

<div id="inhalt">
  <div id="header">
    <a id="logo" href="/">ONE HUMANITY</a>
   
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href='/quiz'>Take Quiz</a></li>
      
    </ul>
  </div>
  
   <section class="white">
     <img class="circle-image" src = "https://alisoun.com/wp-content/uploads/World-hands1.jpg"/>
    <h2>About</h2>
    <p>At One Humanity, we believe in the importance of empowering the individual to make their own change in the world. Often times, many people find themselves inspired to contribute to humanitarian causes but they may not know how to or which to choose from. Our goal is to take your passion for helping others and focus that energy into a specific cause that needs more attention. Simply take our short quiz to determine what charitable organization you should donate to or volunteer for. We also have a gallery of different organizations if you're looking for even more information. Head to the quiz portion of the site & find out how you will make your impact now! </p>
    
  </section>
  <section class="gray">
    <h1>Click here to find out which non-profit you should donate and/or volunteer today!</h1>
   <a class="btn" a href = "https://codepen.io/lbucio2/pen/GBbXEK?editors=1100"> Take Quiz</a>
    </a></section>
  
 
   <section class="red">
    <h2>Help Those in Need</h2>
    <ul>
      <div class = "photos">
        <img src = "http://www.onlinechurchsolutions.com/folders/woodlawnpointe/files/NonProfit.png"/>
      <img src = "https://www.globalgiving.org/pfil/5053/pict_original.jpg"/>
 <img src= "https://s3.amazonaws.com/churchplantmedia-cms/san_tan_bible_church_gilbert_az/fmscbnner.jpg"/>
      </div>
    </ul>
  </section>

  <div id="footer">
    <p>© 2018 Kode With Klossy Scholars | <a href="#">Chicago Koding Queens</a></p>
  </div>
</div>

</body>
</html>