<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>SHOPPING!!!</h1>
<body>
  <img src = "http://julianlennon.com/wp-content/uploads/2017/04/the-grove-entertainment-complex.jpg">
  <p>The Grove is a popular LA Shopping spot..</p>
</body>