<form method="POST" action="/losangeles_quiz">
  <h2>What would you like to do in Los Angeles?</h2>
    <input type="radio" name="activity" value="Workout">Workout<br>
    <input type="radio" name="activity" value="Eat Breakfast">Eat Breakfast<br>
    <input type="radio" name="activity" value="Go Shopping">Go Shopping<br>
    <input type="radio" name="activity" value="Eat Lunch">Eat Lunch<br>
    <input type="radio" name="activity" value="Visit a Local Lamdmark">Visit a Local Landmark<br>
    <input type="radio" name="activity" value="Find Entertainment">find Entertainment<br>
    <input type="radio" name="activity" value="Eat Dinner and Dessert">Eat Dinner and Dessert<br>
  <button type="submit"> Submit!!!</button>
</form>
