<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>SPIN SPIN SPIN !!!!!</h1>
<body>
  <img src = "https://www.birchbox.com/images/uploads/AuraCycle-700x400.jpg">
  <p>LA Cycle Studio is a great place to work out and listen to your fdavorite music at the same time.</p>
</body>