<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>EAT EAT EAT!!!</h1>
<body>
  <img src = "https://resizer.otstatic.com/v2/photos/large/25178655.jpg">
  <p>Reblubique is a gorgeous French resturant and a great place to have breakfast.</p>
</body>