<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>SPIN SPIN SPIN !!!!!</h1>
<body>
  <img src = "https://www.birchbox.com/images/uploads/AuraCycle-700x400.jpg">
  <p>LA Cycle Studio is a great place to work out and listen to your fdavorite music at the same time.</p>
</body>