<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>THE THEATRE</h1>
<body>
  <img src = "https://www.lacounty.gov/wp-content/uploads/2016/12/The_Music_Center.jpg">
  <p>The Music Center of LA is home to  Dorothy Chandler Pavilion, Ahmanson Theater, Mark Taper Forum, Roy and Edna Disney / CalArts Theatre, and Walt Disney Concert Hall. </p>
</body>