<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>SHOPPING!!!</h1>
<body>
  <img src = "http://julianlennon.com/wp-content/uploads/2017/04/the-grove-entertainment-complex.jpg">
  <p>The Grove is a popular LA Shopping spot..</p>
</body>