<h1>LIGHTS, CAMERA.....HOLLYWOOD!!!!</h1>
<body>
  <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Hollywood_Sign_%28Zuschnitt%29.jpg/1280px-Hollywood_Sign_%28Zuschnitt%29.jpg">
  <p>Go to this famous landmark in California, walk on Hollywood BLVD.... The whole 9 yards.</p>
</body>