<!DOCTYPE html>
<html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald"         rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <style> 
   .head {
     font-family: 'Lobster', cursive;
    }
   .subhead {
     font-family: 'Roboto Condensed', sans-serif;
    }
  </style>  
      <title>You are Mercury!</title>
    </head>
    <body>
        
        <div class="topnav">
       <a class="active subhead" href="/">Home</a>
       <a href="/solarsystem" class="subhead">Our Solar System</a>
       <a href="/universenews" class="subhead">Universal Update</a>
       <a href="/quiz" class="subhead">Quiz</a>
       <a href="/astrology" class="subhead">Astrology</a>
       <a href="/other" class="subhead">Other</a>
     </div><h1 class = head>You are Mercury!</h1>
        <img src="http://cms.ipressroom.com.s3.amazonaws.com/173/files/20146/53d0396e299b5059f6001964_Mercury+%28enhanced+color+image%2C+based+on+MESSENGER+measurements%2C+credit+NASA%29/Mercury+%28enhanced+color+image%2C+based+on+MESSENGER+measurements%2C+credit+NASA%29_1875e677-1471-4a45-ae88-e650fbd5d07a-prv.jpg">
    </body>
</html>