<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<link rel="stylesheet" type="text/css" href="/voyage.css">
<form method="POST" action="/midwest_result">
  <h2>Which city would you like to visit?</h2>
    <input type="radio" name="city" value="Chicago">Chicago <br>
    <input type="radio" name="city" value="Detroit">Detroit <br>
    <input type="radio" name="city" value="Milwaukee">Milwaukee<br>
    <input type="radio" name="city" value="St_Louis">St. Louis<br>
    
  <button class="prettyButton" type="submit"> Submit!!!</button>
</form>

<body>
  <img class="images" src =https://www.srainternational.org/sites/default/files/styles/original/public/pictures/midwest-section-map.png?itok=IJC_C1vQ>
  <p>Seattle’s broadway! </p>
</body>
