<form method="POST" action="/milwaukee_quiz">
  <h2>What would you like to do in Milwaukee?</h2>
    <input type="radio" name="activity" value="Workout">Workout<br>
    <input type="radio" name="activity" value="Eat_Breakfast">Eat Breakfast<br>
    <input type="radio" name="activity" value="Go_Shopping">Go Shopping<br>
    <input type="radio" name="activity" value="Eat_Lunch">Eat Lunch<br>
    <input type="radio" name="activity" value="Visit_a_Local_Lamdmark">Visit a Local Landmark<br>
    <input type="radio" name="activity" value="Find_Entertainment">find Entertainment<br>
    <input type="radio" name="activity" value="Eat_Dinner_and_Dessert">Eat Dinner and Dessert<br>
  <button type="submit"> Submit!!!</button>
</form>
