<h1>This is a great shopping place in Milwaukee</h1>
<body>
  <img src = "https://cdn.patchcdn.com/users/2189568/2012/11/T800x600/f83d813f55f7a52bac3febbe1d3417cf.jpg">
  <p>Bayshore Town Center is a really cute Shopping Mall.</p>
</body>