<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>This is a great Dinner and Dessert place in Milwaukee</h1>
<body>
  <img src = "https://resizer.otstatic.com/v2/photos/large/25162598.jpg">
  <p>Bartolotta's Lake Park Bistro is a nice and classy French resturant with amazing food and dessert.</p>
</body>