<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>This is a great workout place in Milwaukee</h1>
<body>
  <img src = "https://igx.4sqi.net/img/general/266x200/36632306_7vl6NV_2eKvSRqd9NqfYJaFxO2_yS8Dv2MpoIkB7Zdo.jpg">
  <p>Milwaukee Gold's Gym is a great place to work off that vacation weight.</p>
</body>