<h1>This is a great Dinner and Dessert place in Milwaukee</h1>
<body>
  <img src = "http://vp.cdn.cityvoterinc.com/GetImage.ashx?img=00/00/00/05/18/94/51894-129666.jpg">
  <p>Bartolotta's Lake Park Bistro is a nice and classy French resturant with amazing food and dessert.</p>
</body>