<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>This is a great entertainment place in Milwaukee</h1>
<body>
  <img src = "https://s3-media3.fl.yelpcdn.com/bphoto/ZaZC5UawRyMpL6ucfxAxaw/o.jpg">
  <p>The Northern Lights Museum is an amazing classy theatre to visit.</p>
</body>