<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<h1>This is a great landmark in Milwaukee</h1>
<body>
  <img class="images" src="https://www.visitmilwaukee.org/remote.jpg.ashx?mode=crop&width=1920&height=1080&scale=both&urlb64=aHR0cDovL3Jlcy5jbG91ZGluYXJ5LmNvbS9zaW1wbGV2aWV3L2ltYWdlL3VwbG9hZC9jX2ZpdCx3XzE5MjAsaF8xMDgwL2NybS9taWx3YXVrZWUvVk1fSGFybGV5RGF2aWRzb25NdXNldW1fRXh0ZXJpb3JfTUFJTklNRzAtM2EwYzc3Yjc1MDU2YTM2XzNhMGM3OGM0LTUwNTYtYTM2Zi0yMzdmMDI4ZTYzNjE2NjRiLmpwZw&hmac=DQqD86VYL40">
  <p>The Harley Davidson Museum is a large attraction in Milwaukee.</p>
</body>