<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>This is a great lunch place in Milwaukee</h1>
<body>
  <img src = "https://cdn.vox-cdn.com/thumbor/Dju4k_q_y7t_dShPKFh97l5pSq0=/15x0:428x310/1200x900/filters:focal(15x0:428x310):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/38898978/bavette.0.jpg">
  <p>Bavatte La Boucherie is a really cute lunch place.</p>
</body>
