<form method="POST" action="/New_Orleans_Quiz">
  <h2>What would you like to do in New Orleans?</h2>
    <input type="radio" name="activity" value="workout">Workout<br>
    <input type="radio" name="activity" value="breakfast">Breakfast <br>
    <input type="radio" name="activity" value="shopping">Go shopping<br>
    <input type="radio" name="activity" value="lunch">Eat lunch<br>
    <input type="radio" name="activity" value="attraction">Local Attraction<br>
    <input type="radio" name="activity" value="dinner">Dinner/dessert<br>
    
  <button type="submit"> Submit!!!</button>
</form>