<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>

<h1>This is a cool place!</h1>
<body>
<img class="images" src="https://cache-graphicslib.viator.com/graphicslib/thumbs674x446/24382/SITours/new-orleans-garden-district-and-lafayette-cemetery-tour-in-new-orleans-370184.jpg">
  <p> The Garden District is really intresting!</p>
  </body

