<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>

<h1>This is a great place!</h1>
<body>
<img class="images" src="https://www.nationalww2museum.org/sites/default/files/styles/wide_medium/public/2017-05/family_overnight.jpg">
  <p>The National World War Two Museum is cool!</p>
  </body


