<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<form method="POST" action="/nyc_quiz">
  <h2>What would you like to do in New York City?</h2>
    <input type="radio" name="activity" value="workout">Workout<br>
    <input type="radio" name="activity" value="breakfast">Eat breakfast<br>
    <input type="radio" name="activity" value="shopping">Go shopping<br>
    <input type="radio" name="activity" value="lunch">Eat lunch<br>
    <input type="radio" name="activity" value="landmark">Visit a local landmark<br>
    <input type="radio" name="activity" value="entertainment">Find entertainment<br>
    <input type="radio" name="activity" value="dinner">Eat dinner and dessert<br>
    
  <button class="prettyButton" type="submit"> Submit!!!</button>
</form>

<body>
  <img class="images" src= "http://res.cloudinary.com/simpleview/image/upload/v1519670032/clients/newyorkcity/Empire_State_Building_Observatory_manhattan_nyc_Julienne_Schaer_055_3f39d2d1-61fd-4d1b-b931-8590bf4c63a7.jpg">
  </body>
