<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>



<h1>You should dinner at Le Coucou!</h1>
<body> 
  <img src = "https://media.wmagazine.com/photos/585367b09c190ec57ac07fae/master/w_860,h_600,c_limit/wmag_lecoucou_6.jpg">
  <p>This upscale French dining spot is worth the price, as it delivers in its food.</p>
</body>
