<!DOCTYPE html>
<html>
  <head>
    <title>Which Planet Are You?</title>
      <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald"         rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <style> 
   .head {
     font-family: 'Lobster', cursive;
    }
   .subhead {
     font-family: 'Roboto Condensed', sans-serif;
    }
  </style>
  </head>
  <body>
    <h1 class="head"> Other </h1>
     <div class="topnav">
       <a class="active subhead" href="/">Home</a>
       <a href="/solarsystem" class="subhead">Our Solar System</a>
       <a href="/universenews" class="subhead">Universal Update</a>
       <a href="/quiz" class="subhead">Quiz</a>
       <a href="/astrology" class="subhead">Astrology</a>
       <a href="/other" class="subhead">Other</a>
     </div>
    <h3 class="subhead2"> Conspiracies </h3>
      <p class="para"> Out there, some people geniunely believe the Earth is flat. Only 84% of Americans are confident that the Earth really is round. Yet even more absurd than that, there is a theory the Earth is hollow and inhabited by aliens. This belief includes the idea that UFO's seen by citizens have been sent from the Earth's core. Ironically, the modern creator of the theory, Rodney Cluff, finds flat Earthers to just be "confused". In the late 17th century, Edmund Halley theorized a hollow Earth, only to be disproved by Pierre Bouguer in 1740. </p>
    <img class="image" src="https://img.clipartxtras.com/71a1c075f7aa6968ba390ca46150c86a_alien-tumblr-sticker-by-melannie-alonzo-alien-clipart-tumblr_458-554.png">
    <p class="para"> One of the more widely known theories out there is that all of our politcal leaders and celebrities are just alien reptiles. With countless videos of Justin Bieber or Miley Cyrus blinking with lizard eyes, this theory can be pretty controversial. These lizard people are thought to have come from the constellations Draco, Sirius, and Orion. Alongside this theory is the theory of "red dresses", mindless people who are used by the reptilians to execute their plans. Almost 12 million Americans are not completely sure that our celebrities and political leaders are actually human.</p>
    <img class="image" src="https://cdn140.picsart.com/257491084021212.png?r1024x1024">
    <p class="para"> Erich von Däniken, an author on this last theory, believes that the most possible explanation for ancient phenomenons is the assistance of aliens. From Stonehenge to the Great Pyramid to the Moai statues Easter Island, many people humans of these civilizations would not be capable of building such great monuments. Some people find proof in hieroglyphics, however all of this discredits humanity's ability to survive and thrive.</p>
  </body>
</html>