<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>



<h1>You should visit Eakins Oval!</h1>
<body> 
  <img class="images" src = "http://philart.net/images/large/washmo7.jpg">
  <p>You can view a statue of Washington in this park in front of the Phillidelphia Art Museum, then go visit the museum or enjoy a snack in the shade!</p>
</body>