<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>Bobby Q</h1>
<body>
  <img src = "https://s3-media2.fl.yelpcdn.com/bphoto/73XqGvRWc5Ow4qZJpEBeeQ/ls.jpg">
  <p>Go eat some great barbeque at Bobby Q.</p>
</body>