<h1>This is a great breakfast place in Milwaukee</h1>
<body>
  <img src = "http://www.coventgarden.com/wp-content/uploads/2017/03/edded.jpg">
  <p>The National Cafe is a cute trendy place to eat breakfast.</p>
</body>