<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>The Gilbert House is a great Breakfast place in Phoenix.</h1>
<body>
  <img src = "https://i.pinimg.com/736x/4f/e7/14/4fe71401933270e8dcff813e007fa320--gilbert-osullivan-eat.jpg">

</body>