<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>Go to a Baseball Game!!!</h1>
<body>
  <img src = "https://www.gannett-cdn.com/presto/2018/08/08/PPHX/c65b5fb6-fc27-44b4-8495-baa08cdc0358-RS_00136.jpg?crop=3052,2289,x179,y0&width=680&height=510&fit=bounds">
  <p>The Diamond Backs is a Arizona's Baseball team..</p>
</body>