<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<link rel="stylesheet" type="text/css" href="/voyage.css">
<form method="POST" action="/phoenix_quiz">
  <h2>What would you like to do in Phoenix?</h2>
    <input type="radio" name="activity" value="Workout">Workout<br>
    <input type="radio" name="activity" value="Eat_Breakfast">Eat Breakfast<br>
    <input type="radio" name="activity" value="Go_Shopping">Go Shopping<br>
    <input type="radio" name="activity" value="Eat_Lunch">Eat Lunch<br>
    <input type="radio" name="activity" value="Visit_a_Local_Lamdmark">Visit a Local Landmark<br>
    <input type="radio" name="activity" value="Find_Entertainment">Find Entertainment<br>
    <input type="radio" name="activity" value="Eat_Dinner_and_Dessert">Eat Dinner and Dessert<br>
  <button type="submit"> Submit!!!</button>
</form>

<body>
  <img class="prettyButton" class="images" src= "https://www.drafttournament.com/wp-content/uploads/2014/09/Phoenix.jpg">
  </body>
