<h1>Go Hiking</h1>
<body>
  <img src = "https://queencreekindependent.com/wp-content/uploads/2015/10/QC-San-Tan-Park-hikers.jpg">
  <p>The SanTan Mountain Hiking is a great place to hike in Phoenix.</p>
</body>