<!DOCTYPE html>
<html>
<head>
<title>Quiz</title>
</head>

<body>
<div id="rcorners2">
  <h1><center>Take the quiz</h1></center>
  <p>
  
   <body>
       <h2>Let's see which nonprofit you should help</h2>
      
       <img src="https://res.cloudinary.com/teepublic/image/private/s--zVggotnw--/t_Preview/b_rgb:ffb81c,c_limit,f_jpg,h_630,q_90,w_630/v1507592259/production/designs/1959889_1.jpg">
      
       <form method="POST" action="/results">
          
           <h2>Do you think education is attainable for all?</h2>
               <input type="radio" name="eduk8" value="0">No<br>
               <input type="radio" name="eduk8" value="5">Maybe<br>
               <input type="radio" name="eduk8" value="10">Yes<br>

  <h2>Have you ever worked for a special needs program?</h2>
               <input type="radio" name="special" value="0">No<br>
               <input type="radio" name="special" value="5">Maybe<br>
               <input type="radio" name="specialr" value="10">Yes<br>
           <br>



               <input type="radio" name="lgbt" value="10">Yes<br>


           <h2>Are you interested in teaching others how to code</h2>
               <input type="radio" name="code" value="0">No<br>
               <input type="radio" name="code" value="5">Maybe<br>



           <h2>Do you want to help with mental or health related issues?</h2>
               <input type="radio" name="health" value="0">No<br>
               <input type="radio" name="health" value="5">Maybe<br>
               <input type="radio" name="health" value="10">Yes<br>






  <h2>Would you be interested in helping the victims of natural disasters?</h2>
               <input type="radio" name="disaster" value="0">No<br>
               <input type="radio" name="disaster" value="5">Maybe<br>
               <input type="radio" name="disaster" value="10">Yes<br>
           <br>


<button class="button">Check to see what nonprofit you should help for</button>
         

          
       </form>

</div>
</body>
</html>