<!DOCTYPE html>
<html>
    <head>
        <title>Allergy Restaurant Guide</title>
    </head>
    
    <body>
        <h1>Take this quiz to find out which restaurants will accommodate your specific food allergies!</h1>
        
        <img src="https://media.giphy.com/media/X9fjbpBeN4pDW/giphy.gif">
        
        <form method="POST" action="/results">
            
            <h2>What is your allergy or intolerance?</h2>
                <input type="radio" name="allergy" value="0">Nuts<br>
                <input type="radio" name="allergy" value="5">Dairy (lactose intolerance)<br>
                <input type="radio" name="allergy" value="10">Shellfish<br>
                <input type="radio" name="allergy" value="15">Soy<br>
                <input type="radio" name="allergy" value="15">Wheat/Gluten<br>
            
            <h2>What cuisine are you in the mood for?</h2>
                <input type="radio" name="cuisine" value="0">Asian<br>
                <input type="radio" name="cuisine" value="5">American<br>
                <input type="radio" name="cuisine" value="10">Italian<br>
                <input type="radio" name="cuisine" value="10">Mexican<br>
                <input type="radio" name="cuisine" value="10">Mediterranean<br>
                <input type="radio" name="cuisine" value="10">Vegan<br>
                <input type="radio" name="cuisine" value="10">Dessert<br>
            
            <h2>How much are you looking to spend?</h2>
                <input type="radio" name="price" value="0">$<br>
                <input type="radio" name="price" value="5">$$<br>
                <input type="radio" name="price" value="5">$$$<br>
              
            
            <br>
            <button type="submit">Let's see if we can be friends!</button>
            
        </form>
        
    </body>
</html>