<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>


<link rel="stylesheet" type="text/css" href="/voyage.css">
<form method="POST" action="/result">
  <h2>Which region would you like to visit?</h2>
    <input type="radio" name="result" value="westcoast">West Coast <br>
    <input type="radio" name="result" value="south">South<br>
    <input type="radio" name="result" value="southeast">Southeast<br>
    <input type="radio" name="result" value="midwest">Midwest<br>
    <input type="radio" name="result" value="eastcoast">East Coast<br>
    
    
  <button type="submit"> Submit!!!</button>
</form>

