<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>


<link rel="stylesheet" type="text/css" href="/voyage.css">
<form method="POST" action="/region">
  <h2>Which region of the US would you like to visit?</h2>
    <input type="radio" name="region" value="Midwest">Midwest <br>
    <input type="radio" name="region" value="South">South <br>
    <input type="radio" name="region" value="Westcoast">West Coast<br>
    <input type="radio" name="region" value="Eastcoast">East Coast<br>
    
  <button class="prettyButton" type="submit"> Submit!!!</button>
</form>

<body>
  <img class="images" src= "https://nppa.org/sites/default/files/RegionsLabels.jpg">
  </body>