<!DOCTYPE html>
<html>
    <head>
        <title>BFFS 4 LYFE!</title>
    </head>
    <body>
        <h1>We're bestfriends!</h1>
        <img src="https://media.giphy.com/media/l1ughbsd9qXz2s9SE/giphy.gif">
        <p>You got a perfect score! We're bestfriends! :)</p>
    </body>
</html>