<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>Lights, Camera, Action!  </h1>
<body>
  <img src =http://photos.cinematreasures.org/production/photos/176200/1471016252/large.jpg?1471016252 >
  <p>Seattle’s broadway! </p>
</body>

