<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>See the city from the hottest spot!  </h1>
<body>
  <img src= https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/SpaceNeedleTopClose.jpg/220px-SpaceNeedleTopClose.jpg>
  <p>Amazing views!</p>
</body>
