<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>This is great fitness center  </h1>
<body>
  <img src =https://s3-media4.fl.yelpcdn.com/bphoto/Z5LmqzcPZU9Lhyj8JItMPw/ls.jpg >
  <p>Get ready to break a sweat at Studio Fit! </p>
</body>


