<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<link rel="stylesheet" type="text/css" href="/voyage.css">
<h1>#Brunchies  </h1>
<body>
  <img src =https://media-cdn.tripadvisor.com/media/photo-s/02/a9/ac/c6/filename-figurebig-2963.jpg >
  <p> Brunch Goals </p>
</body>
