<html>
  
<head>
  <title>Quick Tips</title>
  <link rel="stylesheet" type="text/css" href="/self_def_tips.css">
</head>

<body>
  <img id="red" src="/image2.jpg" width= "990" height= "200">
  <div class="topnav">
    <a href="homepage">Home</a>
    <a href="about_us">About us</a>
    <a href="quiz">Self-Defense Quiz</a>
    <a href="self_def_tips">Quick Tips</a>
  </div>
  
  <br>
  <div class="column">
    <br>
    <h1 id="title">Quick Tips</h1>
    <br>
  
    <h2 class="pt">The best way to prevent injury is to avoid a conflict. Here are a few quick tips on how to avoid conflict.</h2>
    <br>
    <ol class="list">
      
      <li>Projecting yourself is the best way to prevent injury is to avoid a conflict. The typical attacker will be less likely to act if you seem confident.</li>
    
      <li>Make sure you are alert and aware of your surroundings. Don't text and walk if you're in a risky location, and don't look like you are lost. If you are a tourist, don't waste time in public spaces unfolding a map and don't obviously check your phone for directions.</li>
    
      <li>Be smart and take an advantage of your resources. If you have a friend with you, make sure your potential attacker knows you are accompanied. Make contact -- even just saying "hello" to -- any security guard, police officer, or bouncer in the area.</li>
    
      <li>Finally, trust your instincts. If you do not feel safe, move to a safer location with more people.</li>
    
    </ol>
    <br>
    <h2 class="pt">However, if a conflict is inevitable, there are a few things you need to keep in mind.</h2>
    <br>
    <ol class="list">
    
      <li>If you are in a chokehold, remember you have 3-8 seconds before you start blacking out. Don't try to pull the attacker's hands off. Instead, either twist and try to hit his eyes or lower your center of gravity to escape.</li>
    
      <li>If you are facing them, twist your hips to throw them off balance and squeeze their jaw. Even a child can generate enough force to dislodge a trachea, and this will certainly disable them.</li>
    
      <li>There's no way to rehearse all of the possibilities, but make sure you know the strengths and weaknesses of the human body. The strongest point in the human body is your elbow. If you're back is to the attacker, go for his throat, his eyes or nose, his solar plexus or groin.</li>
    
      <li>Most importantly, remember that the most important things is to believe in yourself and not panic. Many attackers will underestimate you, and if you execute your defense properly, you may be able to leave unscathed.</li>
    
    </ol>
  </div>
  <div class="sidenav"></div>
  <div class="sidenav2"></div>
  
</body>

</html>
