<html>
  <head>
    <title>Quick Tips</title>
    <link rel="stylesheet" type="text/css" href="/selfDefTips.css">
  </head>
  <body>
    <h3>If you don't have much time to learn, you've come to the right place. Remember,the best way to prevent injury is to avoid a conflict. Here are a few quick tips, though hopefully you won't need them.</h3>
    <h2>How to project yourself - the best way to prevent injury is to avoid a conflict. The typical attacker will be less likely to act if you project yourself a certain way.</h2>
    <ol>
      <li>
        Make sure you are alert and aware of your surroundings. Don't text and walk if you're in a risky location, and don't look like you are lost. If you are a tourist, don't waste time in public spaces unfolding a map and don't obviously check your phone for directions.
      </li>
<<<<<<< HEAD
        Be smart and take an advantage of your resources. If you have a friend with you, make sure your potential attacker knows you are accompanied. Make contact -- even just saying  with the 
      </li>
      
=======
      <li>
        Be smart and take an advantage of your resources. If you have a friend with you, make sure your potential attacker knows you are accompanied. Make contact -- even just saying "hello" to -- any security guard, police officer, or bouncer in the area.  
      </li>
>>>>>>> 2560902d34bbd2e6f9b156f1f38f2e5fdced9617
      <li>
        
      </li>
    </ol>
<<<<<<< HEAD
=======
    
>>>>>>> 2560902d34bbd2e6f9b156f1f38f2e5fdced9617
    <h2>However, if a conflict is inevitable, there are a few things you need to keep in mind.</h2>
    <ol>
      <li>
        If you are in a chokehold, remember you have 3 - 8 seconds before you start blacking out. Don't go for the attacker's hands either twist and go for his eyes or lower your center of gravity.
      </li>
      <li>
        If you are facing them, twist your hips to throw them off balance and squeeze their jaw. Even a child can generate enough force to dislodge a trachea, and this will certainly disable them.
      </li>
      </ol>
  </body>
</html>

  