<html>
  <head>
    <title>Quick Tips</title>
    <link rel="stylesheet" type="text/css" href="/selfDefTips.css">
  </head>
  <body>
    <h3>If you don't have much time to learn, you've come to the right place. Remember,the best way to prevent injury is to avoid a conflict. Here are a few quick tips, though hopefully you won't need them.</h3>
    <h2>How to project yourself - the best way to prevent injury is to avoid a conflict. The typical attacker will be less likely to act if you project yourself a certain way.</h2>
    <ol>
      <li>
        Make sure you are alert and aware of your surroundings. Don't text and walk if you're in a risky location, and don't look like you are lost. If you are a tourist, don't waste time in public spaces unfolding a map and don't obviously check your phone for directions.
      </li>

        Be smart and take an advantage of your resources. If you have a friend with you, make sure your potential attacker knows you are accompanied. Make contact -- even just saying  with the 
      </li>
        <li>
        Be smart and take an advantage of your resources. If you have a friend with you, make sure your potential attacker knows you are accompanied. Make contact -- even just saying "hello" to -- any security guard, police officer, or bouncer in the area.  
        
      </li>
    </ol>
      <li>
        Be smart and take an advantage of your resources. If you have a friend with you, make sure your potential attacker knows you are accompanied. Make contact -- even just saying "hello" to -- any security guard, police officer, or bouncer in the area.  
      </li>
      <li>
        Finally, trust your instincts. If you do not feel safe, move to a safer location with more people.
      </li>
    </ol>
    <h2>However, if a conflict is inevitable, there are a few things you need to keep in mind.</h2>
    <ol>
      <li>
        If you are in a chokehold, remember you have 3 - 8 seconds before you start blacking out. Don't go for the attacker's hands either twist and go for his eyes or lower your center of gravity.
      </li>
      <li>
        If you are facing them, twist your hips to throw them off balance and squeeze their jaw. Even a child can generate enough force to dislodge a trachea, and this will certainly disable them.
      </li>
      <li>
        If you are facing them, twist your hips to throw them off balance and squeeze their jaw if you can reach them. Even a child can generate enough force to dislodge a trachea, and this will certainly disable the attacker. Otherwise, remember his weak points, which will be detailed in the next paragraph.
      </li>
      <li>
        There's no way to rehearse all of the possibilities, but make sure you know the strengths and weaknesses of the human body. The strongest point in the human body is your elbow. If you're back is to the attacker, go for his throat, his eyes or nose, his solar plexus or groin.
      </li>
      <li>
        Most importantly, remember that the most important things is to be vicious and throw yourself in  100%. Many attackers will underestimate you, and if you execute your defense properly, you may be able to convince him that what he wants just isn't worth it.
      </li>
      </ol>
  </body>
</html>

  