<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<link rel="stylesheet" type="text/css" href="/voyage.css">
<form method="POST" action="/south_result">
  <h2>Which city would you like to visit?</h2>
    <input type="radio" name="city" value="Austin">Austin<br>
    <input type="radio" name="city" value="New_Orleans">New Orleans<br>
    <input type="radio" name="city" value="Atlanta">Atlanta<br>
    
  <button class="prettyButton" type="submit"> Submit!!!</button>
</form>

<body>
  <img class="images" src =http://photos.cinematreasures.org/production/photos/176200/1471016252/large.jpg?1471016252 >
  <p>Seattle’s broadway! </p>
</body>
