<form method="POST" action="/southeast_region">
  <h2>Which city would you like to visit?</h2>
    <input type="radio" name="city" value="Midwest">Midwest <br>
    <input type="radio" name="city" value="South">South <br>
    <input type="radio" name="city" value="Southeast">Southeast<br>
    <input type="radio" name="city" value="Westcoast">West Coast<br>
    <input type="radio" name="city" value="Eastcoast">East Coast<br>
    
  <button type="submit"> Submit!!!</button>
</form>
