<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>
</body>
</html>
<br>



<form method="POST" action="/result">
  <h2>Which city would you like to visit?</h2>
    <input type="radio" name="city" value="Miami">Miami<br>
    <input type="radio" name="city" value="Charlotte">Charlotte<br>
    <input type="radio" name="city" value="D.C.">D.C.<br>
    
  <button type="submit"> Submit!!!</button>
</form>