<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" type="text/css" href="/special.css">
        <title>Your Results Are: Special Needs Organizations!</title>
    </head>
    <body>
      <p>If you want to donate, you should visit VocalID</p>
           <a href= "https://www.vocalid.co/">VocalID</a>
        <img src="https://www.geek.com/wp-content/uploads/2013/12/Vocalid_logo21-625x350.png">
        <p>If you want to volunteer, you should visit Penguin Project</p>
        <a href="http://penguinproject.org/">Penguin Project</a>
        <img src="http://penguinproject.org/wp-content/uploads/2016/12/LightBoxLogo.jpg>"
    </body>
</html>