<form method="POST" action="/st.louis_quiz">
  <h2>What would you like to do in St.louis?</h2>
    <input type="radio" name="activity" value="workout">Workout<br>
    <input type="radio" name="activity" value="breakfast">Breakfast <br>
    <input type="radio" name="activity" value="shopping">Go shopping<br>
    <input type="radio" name="activity" value="lunch">lunch<br>
    <input type="radio" name="activity" value="attraction">Local Attraction<br>
    <input type="radio" name="activity" value="entertainment">Entertainment<br>
    <input type="radio" name="activity" value="dinner">Dinner and Dessert<br>
    
  <button type="submit"> Submit!!!</button>
</form>
