<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<h1> Great way to start your morning!</h1>
<body>
<img class="images" src= "http://roosterstl.com/wp-content/themes/rooster/assets/images/R2SpringWPVariety.jpg">
<p>The Benton Park Cafe is a nice place.</p>
</body