<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<h1>The greatest shopping place to shop at St. Louis</h1>
<body>
  <img class="images" src="https://www.ggp.com/content/dam/ggp-digital-assets/Images/Mall-Images/Exteriors/stlouisgalleria-hero-02.jpg/_jcr_content/renditions/original.jpg">
  <p>Saint Louis Galleria is one of a kind!</p>
</body>
