<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<h1>Best place to workout in St.Louis is Pure Barre!</h1>
<body>
<img class="images" src="https://img.grouponcdn.com/deal/3cVDFjHgBNwcgjrQKyAW/Db-2048x1229/v1/c700x420.jpg">
<p>The Pure Barre is cool!</p>
</body>