<h1>The greatest shopping place to shop at St. Louis</h1>
<body>
  <img src="https://www.ggp.com/content/dam/ggp-digital-assets/Images/Mall-Images/Exteriors/stlouisgalleria-hero-02.jpg/_jcr_content/renditions/original.jpg">
  <p>Saint Louis Galleria is one of a kind!</p>
</body>