<!DOCTYPE html> 
<html>
<head> 
  <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald"         rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <style> 
   .head {
     font-family: 'Lobster', cursive;
    }
   .subhead {
     font-family: 'Roboto Condensed', sans-serif;
    }
    
  </style>
  <title class="head">Universal News</title>
</head> 
<body>
  <h1 class="head" >Universal News</h1>
    <div class="topnav">
      <a class="active subhead" href="/">Home</a>
      <a class="subhead" href="/solarsystem">Our Solar System</a>
      <a class="subhead" href="/universenews">Universal Update</a>
      <a href="/quiz" class="subhead">Quiz</a>
      <a href="/astrology" class="subhead">Astrology</a>
      <a class="subhead" href="/other">Other</a>
    </div>
  
  <h4 class="subhead">Space For All the Ages</h4>
  
  
 
  <br> </br>
  
  <h3 class="subhead2">The Latest Space News</h3> 
  <a class="links" href="http://www.astronomy.com/news">Astronomy.com</a>
  <br></br>
<a class= "links" href="https://www.nasa.gov/news/releases/latest/index.html">NASA's Latest News</a>
<br> </br>
<a class= "links" href="https://spacenews.com/">Space News</a>
<br> </br> 
<a class= "links" href="https://www.sciencedaily.com/news/space_time/astronomy/">Science Daily</a
</body> 
  
</html> 