<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/region">Quiz</a>
</div>

</body>
  
</html>

<link rel="stylesheet" type="text/css" href="/voyage.css">
<form method="POST" action="/westcoast_result">
  <h2>Which city would you like to visit?</h2>
    <input type="radio" name="city" value="Phoenix">Phoenix<br>
    <input type="radio" name="city" value="Los_Angeles">Los Angeles<br>
    <input type="radio" name="city" value="Seattle">Seattle<br>
    
  <button class="prettyButton" type="submit"> Submit!!!</button>
</form>

<body>
  <img class="images" src =https://www.maps.com/media/catalog/product/cache/1/thumbnail/17f82f742ffe127f42dca9de82fb58b1/u/s/usa_region_west_previewfull.png >
  <p>Seattle’s broadway! </p>
</body>
